<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- <li v-for="fruit in fruits">{{fruits}}</li> -->
            <li v-for="value in fruits">{{fruits}}</li>
            <li v-for="(fruit) in fruits">{{fruits}}</li>
            <li v-for="(fruit, index) in fruits">({{index}}){{fruits}}</li>
            <li v-for="(fruit, ddd) in fruits">({{ddd}}){{fruits}}</li>
        </ul>
        <ul>
            <li v-for="value in object">{{value}}</li>
        </ul>
        <ul>
            <li v-for="(value, key) in object">{{key}}--{{value}}</li>
            <li v-for="(value, key, index) in object">({{index}}){{key}}--{{value}}</li>
        </ul>

    </div>

    <script src="../vue.js"></script>
    <script src="vfor.js"></script>

</body>

</html>